Name = {{ inventory_hostname | replace('.','_') | replace('-','_') }}
Mode = {{ tinc_mode }}
{% if tinc_address_family is defined %}
AddressFamily = {{ tinc_address_family }}
{% endif %}
Interface = {{ tinc_vpn_interface }}
{% for host in groups['tinc_spine_nodes'] %}
{% if inventory_hostname != hostvars[host]['inventory_hostname'] %}
ConnectTo = {{ hostvars[host]['inventory_hostname'] | replace('.','_') | replace('-','_') }}
{% endif %}
{% endfor %}
